#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.game{
  width: 1000px;
}

.rows{
  display:flex;
  justify-content: center;
}

.tiles{
  border: 1px solid black;
  height: 75px;
  width: 75px;
}