#root {
  max-width: 1280px;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  display: flex;
  justify-content: center;
}

.game{
  width: 1000px;
  text-align: center;
}

.rows{
  display:flex;
  justify-content: center;
}

.tiles{
  border: 1px solid black;
  height: 75px;
  width: 75px;
}

.dark-grey{
  background-color: #808080;
}

.light-grey{
  background-color: #D3D3D3;
}

.navy-blue{
  background-color: #001F3F;
}

.sky-blue{
  background-color: #87CEEB;
}